<center><br><h1>Записване за участие в конкурса за месец май</h1></br>
<br></br>
</center>
<h5>Прочети правилата на конкурса, прикачи твоята снимка, попълни всички полета вярно и въведи своят e-mail адрес. </h5>
<h5>Изпрати покана за приятелство във <a href='https://www.facebook.com/'>Facebook </a> на профила <a href='https://www.facebook.com/profile.php?id=100008180618516'> Момичета.бг</a>, за да можем да направим контакт с теб!</h5>


<br><h4>1. Прикачете своя снимка</h4></br>
Снимката трябва да е лично ваша, без фотографско лого, вертикална, с максимално добро качество и минимална резолюция 720х960 пиксела.</br>
Ограничението на снимките е до 5Mb.</br>
Снимки с лошо качество, със слънчеви очила, с фотографско лого, само на лице и на които не се вижда лицето, пред мръсно огледало и с по-малка резолюция от горе посочената се изтриват.</br>
</br>
<% if not current_user.nil? %>
	<%= render 'form' %>
<% else %>
	<p><u><i> Моля влесте във Вашия facebook профил </i></u></p>
<% end %>