<center><h3> Правила за участие в конкурса</h3></center>
 
<br />
<p>Дата на Последна редакция: 31 април 2014 г.</p>
 
<p>1. Конкурсът по никакъв начин не се спонсорира, одобрява или администрира от и не е свързан с Facebook.</p>
 
<p>2. Снимките изпратени на съобщение във Facebook страницата на Момичета.бг, не участват в конкурса.</p>
 
<p>3. Снимка за конкурса можете да изпратите във формата за записване ТУК.</p>
 
<p>4. В конкурса могат да участват българки между 15 и 30 годишна възраст.</p>
 
<p>5. Изпратете покана за приятелство във Facebook на профила Админ Момичета.бг, за да можем да направим контакт с вас.</p>
<ul>
	<li>https://www.facebook.com/profile.php?id=100008180618516&fref=ts</li>
</ul>
 
<p>6. Вие доброволно изпращате вашата снимка и сте съгласни тя да бъде публично видима, да бъде публикувана в сайта и Facebook страницата на Момичета.бг.</p>
 
<p>7. Изпратената снимка чрез формата за записване в сайта, след одобрение от организаторa, се публикува на www.UnikalniBG.com за участие в активния конкурс, където може да се галсува за нея.</p>
 
<p>8. Снимката трябва да е лично ваша, без фотографско лого, вертикална, с максимално добро качество и минимална резолюция 720х960 пиксела.</p>
 
<img src="/assets/rule.jpg" alt="rule" style="display: block;margin-left:auto; margin-right:auto;"></a>
<center>Примерна снимка 720х960 пиксела</center><br />
 
<p>9. Снимки с лошо качество, със слънчеви очила, с фотографско лого, само на лице и на които не се вижда лицето, пред мръсно огледало и с по-малка резолюция от горе посочената се изтриват.</p>
 
<p>10. Формат на конкурса - директни елиминации на кръгове по двойки.</p>
<ul>
	<li>1-ви кръг 128 участнички.</li>
	<li>2-ри кръг 64 участнички.</li>
	<li>3-ти кръг 32 участнички.</li>
	<li>4-ти кръг 16 участнички.</li>
	<li>5-ти кръг 8 участнички.</li>
	<li>ПОЛУФИНАЛ 4 участнички.</li>
	<li>ФИНАЛ 2 участнички.</li>
</ul> 
<p>11. Гласува се чрез кликване върху снимката на участничката от конкурса.
Чрез споделяне на снимката подкрепяш своята фаворитка, като ѝ помагаш повече хора да гласуват за нея!</p>
 
<p>12. Всеки има право да гласува по веднъж всеки ден и споделя многократно снимката на своята фаворитка.</p>
 
<p>13. Участничката от всяка двойка с най-голям процент гласове във всеки кръг продължава до ФИНАЛА.</p>
 
<p>14. ФИНАЛЪТ на конкурса приключва в края на месеца, в който е проведен.</p>
 
<p>15. Победителката ще бъде обявена в сайта и Facebook страницата на Момичета.бг, снимките на избрани участнички също ще бъдат публикувани във Facebook страницата на Момичета.бг.</p>
 
<p>16. Победителката не може да участва повторно в конкурса до края на годината през която е участвала, а след това трябва да е с различна снимка.</p>
 
<p>17. Организаторът, Момичета.бг, по всяко време може да поиска потвърждение за верификация на участничките в конкурса.
Участничките са длъжни да представят снимка на която държат лист с надпис определен от организатора.
При отказ от страна на участничката тя се дисквалифицира. (Процедурата се прави, за да се предотврати злоупотребата с чужда самоличност)</p>
 
<p>18. Ние не ви задължаваме да харесвате Facebook страницата на Момичета.бг или снимките на участничките там, както и да гласувате за участничките в сайта www.UnikalniBG.com тъй като това не е условие за победа, това правите по собствено желание.</p>
 
<p>19. Награда:</p>
<ul>
	<li>Първо место:</li>
		Професионална фотосесия + грим заснета в София или Пловдив.

	<li>Второ место:</li>
		Ваучер с 50% отстъпка за професионална фотосесия + грим заснета в София или Пловдив. (Победителката не се задължава да използва ваучера).
</ul>
 
<p>20. Организаторът, Момичета.бг, запазва правото си да променя или допълва правилата на Конкурса, при възникнали спорове крайните решения се взимат от организатора.</p>