<center><br><b>Първа награда</b> в нашия конкурс е невероятен шанс да получиш като подарък</br>
 
<br>професионална фотосесия с професионален грим от нашите партньори</br>
 
<br>ТОП ПРОФЕСИОНАЛИСТИТЕ - Клаудио Лентини и Марина Лилова</br><br />
 
 <img src="/assets/price.jpg" />
 
 <br></br>
<br><b>Втора награда</b> – отстъпка за професионална фотосесия и професионален грим!</br> 
 
<br>Можеш да се запишеш за участие в конкурса от <a href="/pictures/new">тук</a></br> 
 
<br>Условията на конкурса можеш да видиш <a href="/rules">тук</a></br></center>

