<h1>Upload#index</h1>
<p>Find me in app/views/upload/index.html.erb</p>
<%= form_for @picture, :url => upload_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>